body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    
    
    background-image: url('../img/sky background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    background-color: black;
    color: black;

   

    }
.headerClass{
    
    color:white
  
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;

}
header{
    margin-top: 16px;
    margin-bottom:48px;
    color:white;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: white;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 250px;
}

input{
    border: 1px solid #cccccc;
    margin-top: 2px;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    
}

.actualCurrentContainer{
    text-align: center;
    justify-content: center;
}

.aboutBody{
    text-align: center;
}

.helpBody{
    text-align: center;
}

.containerForImageAndTemp{
    display:flex;
    justify-content: center;
}



#temperature{
    font-weight: bold;
    margin-left:2.5%;
    font-size: 50px;
    margin-top: 1.5%;
}

#maxMinFeel{
    margin-top: 1%;
}

#day2Contents{
    display:flex;
}

#temperature2{
    font-weight: bold;
    margin-left:1.5%;
    font-size: 25px;
    margin-top: 1.5%;
}

#containerForPrecipAndApparent2{
    margin-left:2.5%;
    display: flex;
    flex-direction: column;
}



#precipProbability2{
    margin-top:20%
}


#day3Contents{
    display:flex;
}

#temperature3{
    font-weight: bold;
    margin-left:1.5%;
    font-size: 25px;
    margin-top: 1.5%;
}

#containerForPrecipAndApparent3{
    margin-left:2.5%;
    display: flex;
    flex-direction: column;
}



#precipProbability3{
    margin-top:20%
}

#day4Contents{
    display:flex;
}

#temperature4{
    font-weight: bold;
    margin-left:1.5%;
    font-size: 25px;
    margin-top: 1.5%;
}

#containerForPrecipAndApparent4{
    margin-left:2.5%;
    display: flex;
    flex-direction: column;
}



#precipProbability4{
    margin-top:20%
}

#day5Contents{
    display:flex;
}

#temperature5{
    font-weight: bold;
    margin-left:1.5%;
    font-size: 25px;
    margin-top: 1.5%;
}

#containerForPrecipAndApparent5{
    margin-left:2.5%;
    display: flex;
    flex-direction: column;
}


#precipProbability5{
    margin-top:20%
}


#day6Contents{
    display:flex;
}

#temperature6{
    font-weight: bold;
    margin-left:1.6%;
    font-size: 26px;
    margin-top: 1.6%;
}

#containerForPrecipAndApparent6{
    margin-left:2.6%;
    display: flex;
    flex-direction: column;
}


#precipProbability6{
    margin-top:20%
}

#day7Contents{
    display:flex;
}

#temperature7{
    font-weight: bold;
    margin-left:1.7%;
    font-size: 27px;
    margin-top: 1.7%;
}

#containerForPrecipAndApparent7{
    margin-left:2.7%;
    display: flex;
    flex-direction: column;
}


#precipProbability7{
    margin-top:20%
}

.indexBody{
    display:flex;
}

.leftContainer{
    margin-top:15%;
    margin-right:auto;
}

.rightContainer{
    margin-top: 15%;
    margin-left:auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
      
      width: 100%;
      
    }
    .indexBody{
        display: block;
    }
    
  }


