.location_summary{
    color: white;
    margin-left: 20px;
}


.container{
    display: flex;
    justify-content: space-around;
    // width: 100%;
}

.current_container{
    display: flex;
    color: white;
}


.current_summary_with_bg{
    background-color: #ffffff;
    opacity: 0.6;

    display: flex;
    color: black;
    justify-content: space-around;
    width: 30%;
}

.future_container{
    display: flex;
    justify-content: space-evenly;
}

.future_card{
    color: white;
    text-align: center;
}

.error_text{
    color: white;
    text-align: center;
}